<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.galudisu.handsonic.core.actor.mapper.ActorRelationMapper">

    <select id="getRelations" resultType="com.galudisu.handsonic.core.actor.domain.ActorRelation">
        select * from sys_actor_relation
        where type = #{type, jdbcType=VARCHAR}
        <if test="childId > 0">
            and child_id = #{childId, jdbcType=DECIMAL}
        </if>
        <if test="parentId > 0">
            and parent_id = #{parentId, jdbcType=DECIMAL}
        </if>
    </select>

    <delete id="delAsChild">
        Delete From sys_actor_relation
        where type = #{type, jdbcType=VARCHAR} and child_id = #{childId, jdbcType=DECIMAL}
    </delete>

    <delete id="delAsParent">
        Delete From sys_actor_relation
        where type = #{type, jdbcType=VARCHAR} and parent_id = #{parentId, jdbcType=DECIMAL}
    </delete>
</mapper>
